a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

.container {
    @include outer-container;
}

.wrapper {
    @include clearfix;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}