body {
    padding:0;
    margin:0;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

.container {
    @include outer-container;
}

.wrapper {
    @include clearfix;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
    }
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

.fl {
    float: left;
}

.fr {
    float: right;
}