// Font
@include font-face("Akkurat", "../fonts/Akkurat", $file-formats: eot woff ttf);
@include font-face("Akkurat", "../fonts/Akkurat-Bold", bold, $file-formats: eot woff ttf);
@include font-face("Akkurat", "../fonts/AkkuratLight", light, $file-formats: eot woff ttf);

body {
    font-family: 'Akkurat', $helvetica;
    // Use proportional numbers, but not automatic kerning
    @include font-feature-settings("pnum", "kern", false);
}