// Font

@include font-face(
       "Akkurat",
       "../fonts/Akkurat",
       ("eot", "woff", "ttf")
     ) {
     font-style: normal;
     font-weight: 400;
    }

@include font-face(
       "Akkurat",
       "../fonts/Akkurat-Bold",
       ("eot", "woff", "ttf")
     ) {
     font-style: bold;
     font-weight: 700;
    }

@include font-face(
       "Akkurat",
       "../fonts/AkkuratLight",
       ("eot", "woff", "ttf")
     ) {
     font-style: light;
     font-weight: 100;
    }

body {
    font-family: 'Akkurat', $font-stack-system;
    // Use proportional numbers, but not automatic kerning
    line-height: 1.6;
    font-weight: normal;
}

h3.title {
    font-size: modular-scale(2);
    color: $gray;
    font-weight: normal;
}

p {
    color: $dark-gray;
}

a {
    color: $link;
}