
  <footer>
    <aside class="wrap">
      <div class="footer-social group">
        <small class="copyright fl">&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.</small>
        <ul class="fr">
            <li><a id="mail" href="mailto:{{ site.owner.email }}"><span class="foot-link">Contact Me</span></a></li>

            {% if site.owner.twitter %}
            <li><a id="twit" href="http://twitter.com/{{ site.owner.twitter }}" target="_blank"><span class="foot-link">Twitter</span></a></li>
            {% endif %}

            {% if site.owner.dribbble %}
            <li><a id="drib" href="http://dribbble.com/{{ site.owner.dribbble }}" target="_blank"><span class="foot-link">Dribbble</span></a></li>
            {% endif %}
        </ul>
    </div>
    </aside>
  </footer>

  <!-- Custom JS -->
  <script type="text/javascript" src="../assets/script/jquery.min.js"></script>
  <script type="text/javascript" src="../assets/script/retina.min.js"></script>
  <script>
    retinajs();
  </script>

  </body>
</html>