<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}{% if page.title %}&#8211;{{ page.title }}{% endif %}</title>
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
<meta http-equiv="cleartype" content="on">

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<!-- Type -->

<!-- Stylesheet -->
<link rel="stylesheet" href="{{ site.css_dir }}/main.css">

</head>

  <body>
    <header class="header">
      <section class="top navigation">
        <hgroup>
          <a href="/" class="header__logo">{{ site.title }}</a>
        </hgroup>
        <!--<a href="#nav" class="menu"><span class='icons'>☰</span></a>-->
        <nav role="navigation" class="menu">
          <ul>
            <li>
              <a href="/works" title="{{ page.title }}">Works</a>
            </li>
            <li>
              <a href="/blog" title="{{ page.title }}">Blog</a>
            </li>
            <li>
              <a href="/contact" title="{{ page.title }}">Contact</a>
            </li>
          </ul>
        </nav>
      </section>
    </header>
