<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
<meta http-equiv="cleartype" content="on">

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<!-- Type -->

<!-- Stylesheet -->
<link rel="stylesheet" href="../assets/css/main.css">

</head>

  <body class="">
    <header class="">
      <div class="">
        <hgroup>
          <h1><a href="/">{{ site.title }}</a></h1>
        </hgroup>
        <a href="#nav" class="menu"><span class='icons'>☰</span></a>
        <nav role="navigation">
          <ul>
            <li>
              <a href="/" title="{{ site.title }}">Home</a>
            </li>
            <li>
              <a href="/about" title="{{ page.title }}">About</a>
            </li>
            <li>
              <a href="/works" title="{{ page.title }}">Works</a>
            </li>
            <li>
              <a href="/blog" title="{{ page.title }}">Blog</a>
            </li>
            <li>
              <a href="/contact" title="{{ page.title }}">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
