<div id="whatido" class="">
    <div class="grid-container">
        <div class="grid-3 section-title">
            <h3 class="title">What I Do</h3>
        </div>
        <div class="grid-4 section-list">
            <ul>
                <li>
                    <h3>UI Design</h3>
                    <p>I design menu, links, buttons, forms, layouts and use good colors and fonts.</p>
                </li>
                <li>
                    <h3>UX Design</h3>
                    <p>I research users, ask questions, make user flows, wireframes and prototypes, test them and evaluate them.</p>
                </li>
                <li>
                    <h3>Web Design</h3>
                    <p>I design headers, navigations, hero images, feature sections, image galleries, contact page and footers.</p>
                </li>
            </ul>
        </div>
         <div class="grid-4 section-list">
            <ul>
                <li>
                    <h3>HTML/CSS/JS</h3>
                    <p>I’m a designer who (tries to) code. I do HTML5, CSS, SCSS, Javascript and jQuery.</p>
                </li>
                <li>
                    <h3>Prototyping</h3>
                    <p>I have already mentioned it in ‘UX design’, but I’m adding this one again to make myself a bit cooler. </p>
                </li>
            </ul>
        </div>
    </div>
</div>