<div class="f-works">
    <h3 class="title">Selected works to impress you</h3>
    <img src="assets/images/down_arrow.svg" alt="">

    {% for post in site.posts %}
        <li>
          <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
              <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
              <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>
              <p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
          </div>
        </li>
    {% endfor %}

    <div class="featured">
        {% for post in site.works %}
        <div class="f-item wrapper">
            <div class="f-item_image">
                <img src="{{ post.featured_image.image }}" alt="{{ post.featured_image.alt }}" data-rjs="2">
            </div>
            <div class="f-item_p">
                <h1 class="front_post_title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                <p>{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
            </div><!-- end f-item-p -->
        </div><!-- end f-item -->
        {% endfor %}

        <div class=""><a href="#" class="">See More</a></div>

    </div><!-- end featured -->
</div><!-- end f-works -->
<hr>