.header {

    //Top Navigation

    .top {
        @include outer-container;
        @include padding(10px null 10px null);
        @include position(fixed, 0);
        z-index: 2000;
        display: block;
        height: 70px;
        margin-top:0;
    }

    .menu {
        float: right;

        ul {
            margin-top: 0px;

            li {
            float: left;
            margin-left: 1.5em;

            a {
                line-height: 51px;
                height: 50px;
                }
            }
        }
    }

    a.header__logo {
        font-size: 1.2em;
        color: black;
        font-weight: bold;
        float: left;
        line-height: 51px;
        height: 50px;
    }
}

