section.work_list {
    @include outer-container;

    .work_list_item {
        @include clearfix;
        margin-bottom: 3em;

        .work_list_item_wrapper {
            @include span-columns(6);
            height: 400px;
            margin-bottom: 2em;
            padding: 2em;

            .work_list_item_desc {
                p {
                    width: 50%;
                }
            }
        }
    }

    .more_work_list_item {

        .more_work_wrapper {
            @include clearfix;
            margin-bottom: 3em;
        }

        .more_work_image {
            @include span-columns(8);
            img {
                width: 100%;
            }
        }

        .more_work_desc {
            @include span-columns(4);
        }
    }

}