// Change the grid settings
$column: 76.67px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1280px;


// Define breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);

$visual-grid: false !default;
$visual-grid-color: #eee !default;

a {
    color: #2351AF;
}