a {
  color: #2351AF; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/Akkurat.eot?#iefix") format("embedded-opentype"), url("../fonts/Akkurat.woff") format("woff"), url("../fonts/Akkurat.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/Akkurat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Akkurat-Bold.woff") format("woff"), url("../fonts/Akkurat-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700; }

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/AkkuratLight.eot?#iefix") format("embedded-opentype"), url("../fonts/AkkuratLight.woff") format("woff"), url("../fonts/AkkuratLight.ttf") format("truetype");
  font-style: light;
  font-weight: 100; }

body {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.wrapper::after {
  clear: both;
  content: "";
  display: block; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .group {
  zoom: 1; }

/* IE6 */
*:first-child + html .group {
  zoom: 1; }

/* IE7 */
.fl {
  float: left; }

.fr {
  float: right; }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #2351AF;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Akkurat", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #1c418c;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #2351AF; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Akkurat", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #bababa; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #2351AF;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(31, 71, 154, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #E8E8E8; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #666666; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%;
  height: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #aeaeae;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #E8E8E8;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #000;
  font-family: "Akkurat", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Akkurat", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h3.title {
  font-size: 1.5625em;
  color: #C0C0C0;
  font-weight: normal; }

p {
  margin: 0 0 0.75em;
  color: #4A4A4A; }

a {
  color: #2351AF;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #1a3d83; }

hr {
  border-bottom: 1px solid #E8E8E8;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.header .top {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  display: block;
  height: 70px;
  margin-top: 0; }
  .header .top::after {
    clear: both;
    content: "";
    display: block; }

.header .menu {
  float: right; }
  .header .menu ul {
    margin-top: 0px; }
    .header .menu ul li {
      float: left;
      margin-left: 1.5em; }
      .header .menu ul li a {
        line-height: 51px;
        height: 50px; }

.header a.header__logo {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  float: left;
  line-height: 51px;
  height: 50px; }

footer {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  footer::after {
    clear: both;
    content: "";
    display: block; }
  footer .footer-social {
    padding-top: 2.5em;
    margin-bottom: 3.15em; }
  footer ul li {
    float: right;
    margin-left: 1em; }

section.main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px; }
  section.main::after {
    clear: both;
    content: "";
    display: block; }
  section.main .hero {
    padding-top: 3em;
    margin-bottom: 11.875em;
    display: block; }
    section.main .hero::after {
      clear: both;
      content: "";
      display: block; }
    section.main .hero h2.blurb {
      float: left;
      display: block;
      margin-right: 2.3999232025%;
      width: 48.8000383988%;
      font-size: 1.5625em;
      font-weight: normal; }
      section.main .hero h2.blurb:last-child {
        margin-right: 0; }
      @media screen and (min-width: max-width 480px 4) {
        section.main .hero h2.blurb {
          float: left;
          display: block;
          margin-right: 2.3999232025%;
          width: 31.7333845317%; }
          section.main .hero h2.blurb:last-child {
            margin-right: 0; } }

.featured {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  margin-bottom: 3.75em; }
  .featured::after {
    clear: both;
    content: "";
    display: block; }
  .featured .f-item {
    margin-bottom: 8em; }
  .featured .f-item_image {
    float: left;
    display: block;
    margin-right: 2.3999232025%;
    width: 74.4000191994%; }
    .featured .f-item_image:last-child {
      margin-right: 0; }
  .featured .f-item_p {
    float: left;
    display: block;
    margin-right: 2.3999232025%;
    width: 23.2000575982%;
    margin-left: -4em;
    padding-top: 2em; }
    .featured .f-item_p:last-child {
      margin-right: 0; }
    .featured .f-item_p h1.front_post_title {
      font-size: 2.44140625em;
      font-weight: normal; }
      .featured .f-item_p h1.front_post_title a {
        color: #000; }

#whatido {
  padding-top: 3.75em; }

.grid-container {
  display: block; }
  .grid-container::after {
    clear: both;
    content: "";
    display: block; }
  .grid-container .grid-3 {
    float: left;
    display: block;
    margin-right: 2.3999232025%;
    width: 23.2000575982%;
    margin-right: 0; }
    .grid-container .grid-3:last-child {
      margin-right: 0; }
  .grid-container .grid-4 {
    float: left;
    display: block;
    margin-right: 2.3999232025%;
    width: 31.7333845317%; }
    .grid-container .grid-4:last-child {
      margin-right: 0; }
  .grid-container li.list-item {
    margin-bottom: 3.15em; }
    .grid-container li.list-item p {
      color: #C0C0C0; }

section.post .post_cover {
  position: relative;
  height: 100vh;
  background-color: #E8E8E8;
  padding: 0;
  width: 100%;
  background-size: cover; }
  section.post .post_cover .title_wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto; }
    section.post .post_cover .title_wrapper::after {
      clear: both;
      content: "";
      display: block; }
    section.post .post_cover .title_wrapper h1.post_title {
      font-size: 5.9604644775em;
      height: auto;
      color: #fff;
      padding-top: 140px;
      font-weight: normal; }
    section.post .post_cover .title_wrapper h1.post_title:after {
      border-top: 5px;
      border-color: #000;
      width: 100px; }

section.post .post_body {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em; }
  section.post .post_body::after {
    clear: both;
    content: "";
    display: block; }
