a {
  color: #2351AF; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/Akkurat.eot?#iefix") format("embedded-opentype"), url("../fonts/Akkurat.woff") format("woff"), url("../fonts/Akkurat.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/Akkurat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Akkurat-Bold.woff") format("woff"), url("../fonts/Akkurat-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700; }

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/AkkuratLight.eot?#iefix") format("embedded-opentype"), url("../fonts/AkkuratLight.woff") format("woff"), url("../fonts/AkkuratLight.ttf") format("truetype");
  font-style: light;
  font-weight: 100; }

body {
  font-family: "Akkurat", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  line-height: 1.6;
  font-weight: normal; }

h3.title {
  font-size: 1.5625em;
  color: #C0C0C0;
  font-weight: normal; }

p {
  color: #4A4A4A; }

a {
  color: #2351AF; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.wrapper::after {
  clear: both;
  content: "";
  display: block; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

hr {
  height: 1px;
  color: #E8E8E8;
  background-color: #E8E8E8;
  border: none; }

.header .top {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  display: block;
  height: 70px;
  margin-top: 0; }
  .header .top::after {
    clear: both;
    content: "";
    display: block; }

.header .menu {
  float: right; }
  .header .menu ul {
    margin-top: 0px; }
    .header .menu ul li {
      float: left;
      margin-left: 1.5em; }
      .header .menu ul li a {
        line-height: 51px;
        height: 50px; }

.header a.header__logo {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  float: left;
  line-height: 51px;
  height: 50px; }

footer {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  footer::after {
    clear: both;
    content: "";
    display: block; }
  footer ul {
    padding: 3em 0; }
    footer ul li {
      float: right;
      margin-left: 1em; }

.sticky-left {
  transform: rotate(90deg);
  transform-origin: left top 0;
  position: absolute;
  bottom: 3em;
  left: 1.5em; }
  .sticky-left small {
    color: #E8E8E8; }

section.main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px; }
  section.main::after {
    clear: both;
    content: "";
    display: block; }
  section.main .hero {
    padding-top: 3em;
    margin-bottom: 11.875em;
    display: block; }
    section.main .hero::after {
      clear: both;
      content: "";
      display: block; }
    section.main .hero h2.blurb {
      float: left;
      display: block;
      margin-right: 2.3999232025%;
      width: 48.8000383988%;
      font-size: 1.5625em;
      font-weight: normal; }
      section.main .hero h2.blurb:last-child {
        margin-right: 0; }
      @media screen and (min-width: max-width 480px 4) {
        section.main .hero h2.blurb {
          float: left;
          display: block;
          margin-right: 2.3999232025%;
          width: 31.7333845317%; }
          section.main .hero h2.blurb:last-child {
            margin-right: 0; } }

section.post {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px; }
  section.post::after {
    clear: both;
    content: "";
    display: block; }

.featured {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em; }
  .featured::after {
    clear: both;
    content: "";
    display: block; }
  .featured .f-item {
    margin-bottom: 8em; }
  .featured .f-item_image {
    float: left;
    display: block;
    margin-right: 2.3999232025%;
    width: 74.4000191994%; }
    .featured .f-item_image:last-child {
      margin-right: 0; }
  .featured .f-item_p {
    float: left;
    display: block;
    margin-right: 2.3999232025%;
    width: 23.2000575982%;
    margin-left: -4em;
    padding-top: 2em; }
    .featured .f-item_p:last-child {
      margin-right: 0; }

.grid-container {
  display: block; }
  .grid-container::after {
    clear: both;
    content: "";
    display: block; }
  .grid-container .grid-3 {
    float: left;
    display: block;
    margin-right: 2.3999232025%;
    width: 23.2000575982%;
    margin-right: 0; }
    .grid-container .grid-3:last-child {
      margin-right: 0; }
  .grid-container .grid-4 {
    float: left;
    display: block;
    margin-right: 2.3999232025%;
    width: 31.7333845317%; }
    .grid-container .grid-4:last-child {
      margin-right: 0; }
