// Body part of the website

section.main {
    padding-top:60px;

    h2.blurb {
        @include span-columns(8);
            @include media($mobile) { // As defined in _grid-settings.scss
                @include span-columns(4);
            }
        font-size: modular-scale(2);
        font-weight: normal;
    }
}

section.post {
    @include outer-container;
    padding-top:70px;
}