// Footer
footer {
    @include outer-container;

    .footer-social {
        padding-top: 2.5em;
        margin-bottom: 3.15em;
    }
    ul {
        li {
            float: right;
            margin-left: 1em;
        }
    }
}