section.post {


    .post_cover {
        position: relative;
        height: 100vh;
        background-color: $light-gray;
        padding: 0;
        width: 100%;
        background-size: cover;

        .title_wrapper {
            @include outer-container;
                h1.post_title {
                font-size: modular-scale(8);
                height: auto;
                color: #fff;
                padding-top: 140px;
                font-weight: normal;
            }

            h1.post_title:after{
                border-top: 5px;
                border-color: $black;
                width: 100px;
            }
        }
    }

    .post_body {
        @include outer-container;
        margin-top: 5em;
    }
}