.featured {
    @include outer-container;
    padding-top: 3em;

    .f-item {
        margin-bottom: 8em;
    }

    .f-item_image {
        @include span-columns(9);
    }

    .f-item_p {
        @include span-columns(3);
        margin-left: -4em;
        padding-top: 2em;

        h1.front_post_title {
            font-size: modular-scale(4);
            font-weight: normal;
            a {
                color: $black;
            }
        }
    }
}